<h3>All Shelters</h3>
<% @ordered_shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>
<br>

<section id="pending_applications">
  <h4>Shelter's with Pending Applications</h4>
  <% @shelters_with_pending_applications.each do |shelter| %>
    <p><%= shelter.name %></p>
  <% end %>
</<section>
